section.cats
    .bg
    .container
        h3 Ты сегодня покормил кота?
        .cats__list
            .cats__item
                .item.item_blue
                    .item__content
                        .item__subtitle Сказочное заморское яство
                        .item__title Нямушка
                            span с фуа-гра
                        .item__quality 10 порций мышь в подарок
                        .item__size
                            span 0,5
                            span кг
                .text Чего сидишь? Порадуй котэ,
                    a(href="#") купи.

            .cats__item
                .item.item_red
                    .item__content
                        .item__subtitle Сказочное заморское яство
                        .item__title Нямушка
                            span с рыбой
                        .item__quality 40 порций 2 мыши в подарок
                        .item__size
                            span 2
                            span кг
                .text Головы щучьи с чесноком да свежайшая сёмгушка.
            .cats__item
                .item.item_greey
                    .item__content
                        .item__subtitle Сказочное заморское яство
                        .item__title Нямушка
                            span с курой
                        .item__quality 100 порций 5 мышей в подарок заказчик доволен
                        .item__size
                            span 5
                            span кг
                .text.text_no Печалька, с курой закончился.